= simple_form_for(@task, html: { class: "default_class"}) do |f|
  = f.input :title, label: "Title"
  = f.input :description, label: "Description"
  = f.input :company, label: "Your company"
  = f.input :url, label: "Link to Tasks"
  %br/
  = f.button :submit
